{% extends "memorix/base.html" %}

{% block title %}Agregar Tarjeta - MEMORIX{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="box">
                <form method="POST">
                    {% csrf_token %}

                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="anverso" placeholder="Ingrese el anverso de la tarjeta" required>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="reverso" placeholder="Ingrese el reverso de la tarjeta" required>
                        </div>
                    </div>

                    <div class="buttons is-centered">
                        <button type="submit" class="button is-success is-large">Guardar Tarjeta</button>
                        <a href="{% url 'mis_tarjetas' mazo.id %}" class="button is-danger is-light is-large">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
