{% extends "memorix/base.html" %}

{% block title %}Tarjetas en {{ mazo.nombre }} - MEMORIX{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for tarjeta in tarjetas %}
                    <div class="column is-one-third">
                        <div class="box has-text-centered">
                            <h2 class="subtitle">{{ tarjeta.nombre }}</h2>
                            <p><strong>Anverso:</strong> {{ tarjeta.anverso }}</p>
                            <p><strong>Reverso:</strong> {{ tarjeta.reverso }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p class="has-text-centered">Aún no hay tarjetas en este mazo.</p>
                {% endfor %}
            </div>

            <div class="has-text-centered">
                <a href="{% url 'agregar_tarjeta' mazo.id %}" class="button is-success is-large">🆕</a>
                <a href="{% url 'mis_mazos' %}" class="button is-danger is-light is-large">🔙</a>
            </div>
        </div>
    </section>
{% endblock %}
